body {
    background-image: url("https://w.wallhaven.cc/full/mp/wallhaven-mppr9k.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
    background-color: #cccccc;
}
/*Forma de la ruleta*/
.mainbox {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
}
/* Flecha */
#flechita {
    display: block;
    position: relative;
    opacity: 0.85;
    margin-left: auto;
    margin-right: auto;
}
.flechita {
    animation: animar;
    animation-duration: 1.75s;
}
.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid black;
    overflow: hidden;
}
/*Opciones de provincias*/
span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}
/*Opciones Jaén y Sevilla */
.span1 {
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: green;
    top: 120px;
    left: 0;
}
/*Opciones Cádiz y Málaga*/
.span2 {
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: darkgreen;
    top: 120px;
    right: 0;
}
/*Opciones Amlería y Huelva*/
.span3 {
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: greenyellow;
    bottom: 0;
    left: 120px;
}
/*Opciones Granada y Córdoba*/
.span4 {
    background-color: lime;
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    top: 0;
    left: 120px;
}
/*Rotaciones de texto*/
.ruleta1 .span3 b {
    transform: translate(-50%, -50%) rotate(-270deg);
}
.ruleta1 .span1 b,
.ruleta2 .span1 b {
    transform: translate(-50%, -50%) rotate(185deg);
}
.ruleta2 .span3 b {
    transform: translate(-50%, -50%) rotate(90deg);
}
.ruleta1 .span4 b,
.ruleta2 .span4 b {
    transform: translate(-50%, -50%) rotate(-85deg);
}
.ruleta2 {
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
}
span b {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 4px solid black;
    background-color: #001aff;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}
.spin:active {
    width: 70px;
    height: 70px;
    font-size: 18px;
}
.mainbox.animate:after {
    animation: animar 0.5s ease infinite;
}
@keyframes xml_parse {
    50% {
        right: -20px;
        left: -20px;
    }
}
@keyframes animar {
    0% {
        transform: rotate(0deg) scale(1);
    }
    10% {
        transform: rotate(10deg) scale(1);
    }
    20% {
        transform: rotate(-10deg) scale(1);
    }
    30% {
        transform: rotate(10deg) scale(1);
    }
    40% {
        transform: rotate(-10deg) scale(1);
    }
    50% {
        transform: rotate(10deg) scale(1);
    }
    60% {
        transform: rotate(-10deg) scale(1);
    }
    70% {
        transform: rotate(10deg) scale(1);
    }
    80% {
        transform: rotate(-10deg) scale(1);
    }
    90% {
        transform: rotate(10deg) scale(1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
.botonBloqueado {
    background-color: gray;
}