body {
    background-image: url("https://w.wallhaven.cc/full/mp/wallhaven-mppr9k.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
    background-color: #cccccc;
}

.muñeco {
    width: 300px;
}

.cuadro {
    margin-left: 20%;
    margin-right: 20%;
}

.cuadroTiempo {
    width: 180px;
    color: white;
    border: 5px solid rgb(255, 255, 255);
}

button {
    width: 100%;
}

.foto {
    width: 50px;
}

.vidas {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Coraz%C3%B3n.svg/640px-Coraz%C3%B3n.svg.png");
    background-repeat: no-repeat;
    background-size: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 1.5%;
}

