body {
    background-image: url("https://w.wallhaven.cc/full/mp/wallhaven-mppr9k.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
    background-color: #cccccc;
}

.muñeco {
    width: 300px;
}

.cuadro {
    margin-left: 20%;
    margin-right: 20%;
}

.cuadroTiempo {
    width: 175px;
    color: white;
    border: 5px solid rgb(255, 255, 255);
}

